@import "../vendor/bootstrap/less/bootstrap.less";
@import "pages-edit-form.less";
@icon-font-path: "./fonts/";
@margin-for-icons: 60px;
@small-nav-headers-size: 14px;

.main-wrapper {
  margin-left: 10px;
}
.texts-navbar {
  padding: 0;
}

.alert {
  margin-top: 10px;
  margin-bottom: 0;
}

.about-nav-menu {
  padding: 0;

  ul.site-content-list {
    padding: 0;
    line-height: 2;
    cursor: pointer;
  }

  li {
    list-style: none;
    padding-left: 10px;
    &.active {
      .active-list-item;
      padding-left: 10px;
    }
  }
}

.active-list-item {
  border: 1px solid gray;
  background: lightgray;
  border-radius: 5px;
}

.categories-nav-menu {
  .glyphicon {
    margin-left: 10px;
    float: right;
  }
  padding: 0;
  ul {
    padding: 0;
    height: 1px;
    .transition(height 0.5s linear);

    &.opened {
      height: auto;
    }
  }
  li {
    list-style: none;

    .glyphicon-plus, .glyphicon-trash, .glyphicon-pencil, .glyphicon-arrow-up, .glyphicon-arrow-down {
      cursor: pointer;
      margin-top: 7px;
      float: left;
      color: green;
    }

    .caption {
      margin-left: @margin-for-icons;
      cursor: pointer;
      border-radius: 5px;
      text-align: right;
      direction: rtl;
      font-weight: bold;
      font-family: arial;
      padding: 5px;

      &.category-name {
        font-size: @small-nav-headers-size;
        border: 1px solid green;
        background: lightgreen;

        &.able-for-drop {
          box-shadow: 0 0 0 3px green inset;;
        }
      }
      &.text-name {
        font-size: @small-nav-headers-size;
        border: 1px solid blue;
        background: lightblue;

        &.able-for-drop {
          box-shadow: 0 0 0 3px blue inset;
        }
      }
    }

    .texts-nav-menu {
      .glyphicon-trash, .glyphicon-plus, .glyphicon-arrow-up, .glyphicon-arrow-down, .glyphicon-pencil, .entityCreate {
        color: blue;
        font-size: @small-nav-headers-size;
      }

      li {
        margin-left: @margin-for-icons;

        .caption {
          margin-left: @margin-for-icons;
        }
      }
    }

    .entityCreate {
      cursor: pointer;
      color: #5cb85c;
      text-align: right;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .volumes-nav-menu {
      .glyphicon-trash, .glyphicon-plus, .glyphicon-pencil, .glyphicon-arrow-up, .glyphicon-arrow-down, .entityCreate {
        font-size: @small-nav-headers-size;
        color: black;
      }

      li {

        margin-left: @margin-for-icons;
        font-size: @small-nav-headers-size;

        .volumeSelector {
          padding: 3px;
          cursor: pointer;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: @margin-for-icons;
          text-align: right;

          &.active {
            .active-list-item;
          }

        }
      }
    }
  }
}