.pages-edit-form {
  .pagination {
    margin-top: 0;
  }

  .text-field, .comments-field {
    direction: rtl;
  }

  .buttons-panel {
    button {
      margin-right: 10px;
      float: right;
    }
  }

  .page-images {
    li {
      list-style: none;
      position: relative;
      margin-right: 10px;
      display: inline-block;

      .icon-delete-img {
        width: 30px;
        position: absolute;
        top: 5px;
        color: red;
        right: 0;
        cursor: pointer;
        height: 30px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}