<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mardjani admin</title>

    <link href="manage/dist/admin-panel.css" rel="stylesheet">
  </head>
  <body ng-app="adminApp">
    <div class="container-fluid main-wrapper" ng-controller="mainPageController">
      <div class="row">
        <div class="col-lg-3">
          <h1>Панель редактора</h1>
        </div>
        <div class="col-lg-9" ng-if="alert">
          <div class="alert alert-dismissible" ng-class="alert.type" role="alert">
            <button type="button" class="close" aria-label="Close" ng-click="$root.alert=null"><span aria-hidden="true">&times;</span></button>
            <strong ng-bind="alert.caption"></strong>&nbsp<span ng-bind="alert.text"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 texts-navbar">
          <ul class="categories-nav-menu panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Библиотека</h3>
            </div>
            <div class="panel-body" click-trigger="setLibraryMode">
              <li ng-repeat="category in categories" ng-controller="navListController" ng-cloak>
                <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Удалить" ng-click="deleteCategory(category)"></span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Редактировать" ng-click="editCategory(category)"></span>
                <div class="category-name caption"
                     ng-class="{'able-for-drop': dragUponState}"
                     data-drop="true"
                     data-jqyoui-options
                     jqyoui-droppable="{onOver: 'actionDragOver', onOut: 'actionDragOut', onDrop: 'actionTextDrop'}"
                     ng-click="listOpened = !listOpened"
                     ng-model="droppedText"
                     ng-cloak>
                  <span ng-bind="category.name"></span>
                  <span class="glyphicon" ng-class="{'glyphicon-chevron-up': listOpened, 'glyphicon-chevron-down': !listOpened}" aria-hidden="true"></span>
                </div>
                <ul class="texts-nav-menu" ng-class="{'opened': listOpened}" ng-show="listOpened">
                  <li ng-repeat="text in category.texts" ng-controller="navListController" ng-show="text">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Удалить" ng-click="deleteText(category, text)"></span>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Редактировать" ng-click="editText(category, text)"></span>
                    <div class="text-name caption"
                         ng-click="listOpened = !listOpened"
                         ng-class="{'able-for-drop': dragUponState}"
                         data-drag="true"
                         data-drop="true"
                         data-jqyoui-options="{containment: window, revert: 'invalid'}"
                         jqyoui-draggable="{containment: 'position'}"
                         jqyoui-droppable="{onOver: 'actionDragOver', onOut: 'actionDragOut', onDrop: 'actionVolumeDrop'}"
                         ng-model="text"
                         ng-cloak>
                      <span ng-bind="$parent.text.title"></span>
                      <span class="glyphicon"
                            ng-class="{'glyphicon-chevron-up': listOpened, 'glyphicon-chevron-down': !listOpened}"
                            aria-hidden="true">
                      </span>
                    </div>
                    <ul class="volumes-nav-menu" ng-class="{'opened': listOpened}" ng-show="listOpened">
                      <li ng-repeat="volume in text.volumes" ng-show="volume.number" ng-cloak>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Удалить" ng-click="deleteVolume($index, category, text, volume)"></span>
                        <span class="glyphicon glyphicon-arrow-up"
                            aria-hidden="true"
                            title="Наверх"
                            ng-if="volume.number > 1"
                            ng-click="moveVolumeUp(category, text, volume)">
                        </span>
                        <span class="glyphicon glyphicon-arrow-down"
                              aria-hidden="true"
                              title="Вниз"
                              ng-if="volume.number < text.volumes.length"
                              ng-click="moveVolumeDown(category, text, volume)">
                        </span>
                        <div class="volumeSelector"
                             data-drag="true"
                             data-jqyoui-options="{containment: window, revert: 'invalid'}"
                             jqyoui-draggable="{containment: 'position'}"
                             ng-click="setActiveVolume(volume, text, category)"
                             ng-model="volume"
                             ng-class="{active: isActiveVolume(volume, text, category)}">
                          Том <span ng-bind="volume.number"></span>
                        </div>
                      </li>
                      <li ng-click="createVolume(category, text)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Добавить"></span>
                        <div class="volumeSelector entityCreate">
                          Добавить новый том
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li ng-click="createText(category)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Добавить"></span>
                    <div class="entityCreate">
                      Добавить новый текст
                    </div>
                  </li>
                </ul>
              </li>
              <li ng-click="createCategory()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Добавить"></span>
                <div class="entityCreate">
                  Добавить новый раздел
                </div>
              </li>
            </div>
          </ul>
          <ul class="about-nav-menu panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Разделы сайта</h3>
              </div>
              <div class="panel-body">
                  <ul class="site-content-list">
                      <li mode-switch="linksPageMode" ng-class="{'active': currentModeIs('linksPageMode')}">Cсылки</li>
                      <li mode-switch="aboutMode" ng-class="{'active': currentModeIs('aboutMode')}">О сайте</li>
                      <li mode-switch="interpretationMode" ng-class="{'active': currentModeIs('interpretationMode')}">Перевод</li>
                  </ul>
              </div>
          </ul>
        </div>
        <div class="col-lg-9 manage-area" ng-include src="'pages-edit-form-templ'" ng-if="currentModeIs('libraryMode')">
        </div>
        <div class="col-lg-9 manage-area" ng-include src="'links-edit-form-templ'" ng-if="currentModeIs('linksPageMode')">
        </div>
        <div class="col-lg-9 manage-area" ng-include src="'about-edit-form-templ'" ng-if="currentModeIs('aboutMode')">
        </div>
      </div>
    </div>

    {{#each  templates }}
    <!--(bake {{this }})-->
    {{/each }}

    <script src="manage/dist/frontend.js"></script>
  </body>
</html>
