<script type="text/ng-template" id="about-edit-form-templ">
    <div class="about-edit-form panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">О сайте</h3>
        </div>
        <div class="panel-body" ng-controller="aboutEditController">
            <div wysiwyg-summernote onChange="updateAboutHtml" init="getInitValue"></div>
            <div style="margin-top: 10px">
                <button class="btn btn-primary" ng-click="saveAbout()">
                    Сохранить <span class="glyphicon glyphicon-save"></span>
                </button>
            </div>
        </div>
    </div>
</script>