<script type="text/ng-template" id="links-edit-form-templ">
    <div class="links-edit-form panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Редактирование ссылок</h3>
        </div>
        <div class="panel-body" ng-controller="linksEditController">
            <div wysiwyg-summernote onChange="updateLinksHtml" init="getInitValue"></div>
            <div style="margin-top: 10px">
                <button class="btn btn-primary" ng-click="saveLinks()">
                    Сохранить <span class="glyphicon glyphicon-save"></span>
                </button>
            </div>
        </div>
    </div>
</script>