<script type="text/ng-template" id="pages-edit-form-templ">
    <div class="pages-edit-form panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Редактирование страницы</h3>
        </div>
        <div class="panel-body" ng-controller="pageEditController">
            <div class="row">
                <div class="col-lg-7">
                    <nav>
                        <ul class="pagination">
                            <li ng-repeat="page in page.list"
                                ng-class="getClass(page)"
                                ng-click="changePage(page)">
                                <a href="#" aria-label="Previous" ng-if="page.previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <a href="#" aria-label="Next" ng-if="page.next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <a href="#" ng-if="page.number">
                                    <span ng-bind="page.number"></span><span class="sr-only" ng-bind="page.number"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5 buttons-panel">
                    <button class="btn btn-danger" ng-click="deletePage(page)">Удалить <span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-success" ng-click="addPage(page)">Добавить... <span class="glyphicon glyphicon-plus"></span></button>
                    <button class="btn btn-primary" ng-click="updatePage(page)">Сохранить <span class="glyphicon glyphicon-save"></span></button>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Текст</div>
                    <div class="panel-body">
                        <textarea rows="15" cols="130" ng-model="page.text" class="text-field"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Картинки</div>
                    <div class="panel-body">
                        <ul class="page-images">
                            <li ng-repeat="image in page.images">
                                <div class="icon-delete-img" ng-click="deleteImage(image)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                                <img ng-src="{{'/images/' + image}}" width="150" height="150">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Загрузить</div>
                    <div class="panel-body">
                      <input id="input-id" type="file" name="picture" multiple class="file file-loading" bs-file-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Комментарии</div>
                    <div class="panel-body">
                        <textarea rows="10" cols="130" ng-model="page.comments" class="comments-field"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>